In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('market_data.db')

In [3]:
cursor = conn.cursor()
cursor.execute('''select * from screen5_detail;''')
rows = cursor.fetchall()
df = pd.DataFrame(rows, columns=[col[0] for col in cursor.description])
df.head()

,company_name,sector,market_cap,symbol,isin,weighted_rpi,52wk_high_w.rpi,latest_price,52wk_high,ema_9,ema_21,adx_14,rsi_14,2_week_rpi,3_month_rpi,6_month_rpi,2wk_sma_of_6m_rpi,report_date
0,KRISHANA PHOSCHEM,Agrichem - Fertilizers,Small Cap,KRISHANA,INE506W01012,109.60,0.0,233.89,0.0,233.62,226.10,34.68,60.27,98.71,125.08,108.64,109.92,2025-04-04
1,MANGLR.CHEM,Agrichem - Fertilizers,Small Cap,MANGCHEFER,INE558B01017,122.60,0.0,178.40,1.0,164.49,156.11,28.55,73.63,122.19,106.91,138.85,130.21,2025-04-04
2,Paradeep Phosphates,Agrichem - Fertilizers,Small Cap,PARADEEP,INE088F01024,125.36,1.0,119.19,0.0,109.01,102.88,28.40,74.15,127.57,106.29,141.47,133.89,2025-04-04
3,SOUTH PET(PS,Agrichem - Fertilizers,Small Cap,SPIC,INE147A01011,106.58,0.0,81.50,0.0,82.14,81.18,9.93,51.84,101.61,114.72,105.07,106.00,2025-04-04
4,NACLIND,Agrichem - Protection,Small Cap,NACLIND,INE295D01020,199.62,1.0,134.89,1.0,115.48,100.95,48.51,81.52,135.27,208.38,276.67,222.39,2025-04-04

In [4]:
df = df[['report_date', 'symbol', 'latest_price', '52wk_high','ema_9',
       'ema_21', 'adx_14', 'rsi_14', '2_week_rpi', '3_month_rpi',
       '6_month_rpi', '2wk_sma_of_6m_rpi']].sort_values(by=['symbol', 'report_date'], ascending=True).reset_index(drop=True)

In [5]:
cursor = conn.cursor()
cursor.execute('''select * from screen5_trend;''')
rows = cursor.fetchall()
trend = pd.DataFrame(rows, columns=[col[0] for col in cursor.description])
trend.head()

,company_name,sector,market_cap,symbol,isin,52wk_high,trending_days,day0,day1,day2,...,day6,day7,day8,day9,day10,day11,weighted_rpi,adx_14,rsi_14,report_date
0,LUMAX TECH,Auto - Replacement,Small Cap,LUMAXTECH,INE872H01027,1.0,12,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,120.14,33.97,73.01,2025-05-29
1,GMR INFRASTR,Infra - Construction,Mid Cap,GMRAIRPORT,INE776C01039,0.0,12,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,102.73,10.10,50.63,2025-05-29
2,MFSL,Financials - Life,Mid Cap,MFSL,INE180A01020,0.0,12,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,121.99,41.17,79.45,2025-05-29
3,FOSECO INDIA,Chemicals - Specialty,Small Cap,FOSECOIND,INE519A01011,0.0,11,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,108.23,25.47,71.77,2025-05-29
4,AIIL,None,None,AIIL,INE206F01022,1.0,11,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,129.21,31.68,76.27,2025-05-29

In [6]:
trend = trend[['report_date', 'symbol', '52wk_high',
       'trending_days', 'weighted_rpi', 'adx_14',
       'rsi_14']].sort_values(by=['symbol', 'report_date'], ascending=True).reset_index(drop=True)

In [7]:
# join trend with df to get the latest price in trend as well 
trend = trend.merge(df[['report_date', 'symbol', 'latest_price']], on=['report_date', 'symbol'], how='left')

In [8]:
df[df.symbol == 'KRISHANA']

,report_date,symbol,latest_price,52wk_high,ema_9,ema_21,adx_14,rsi_14,2_week_rpi,3_month_rpi,6_month_rpi,2wk_sma_of_6m_rpi
1256,2025-03-28,KRISHANA,235.22,0.0,230.95,221.68,33.50,64.00,100.29,120.32,112.31,111.04
1257,2025-04-04,KRISHANA,233.89,0.0,233.62,226.10,34.68,60.27,98.71,125.08,108.64,109.92
1258,2025-04-25,KRISHANA,271.48,0.0,263.77,249.61,37.13,70.43,108.36,137.91,129.24,123.36
1259,2025-05-09,KRISHANA,338.35,1.0,305.94,282.09,49.87,88.10,124.79,165.52,160.40,135.39

In [9]:
trend[trend.symbol == 'KRISHANA']

,report_date,symbol,52wk_high,trending_days,weighted_rpi,adx_14,rsi_14,latest_price
6099,2025-03-21,KRISHANA,0.0,3,117.54,32.07,75.46,NaN
6100,2025-03-28,KRISHANA,0.0,6,109.90,33.50,64.00,235.22
6101,2025-04-04,KRISHANA,0.0,6,109.60,34.68,60.27,233.89
6102,2025-04-11,KRISHANA,0.0,7,114.96,30.46,62.01,NaN
6103,2025-04-25,KRISHANA,0.0,7,123.49,37.13,70.43,271.48
6104,2025-05-02,KRISHANA,0.0,9,122.76,40.93,77.68,NaN
6105,2025-05-09,KRISHANA,1.0,10,147.69,49.87,88.10,338.35
6106,2025-05-16,KRISHANA,0.0,6,147.28,59.99,77.26,NaN
6107,2025-05-23,KRISHANA,1.0,5,152.86,68.28,81.47,NaN
6108,2025-05-29,KRISHANA,0.0,4,154.15,73.59,79.53,NaN
6109,2025-05-30,KRISHANA,0.0,4,147.95,71.61,64.67,NaN

In [ ]:
import logging

# for each symbol and report date get the stock price from the yfinance API
def get_stock_prices(symbol, report_date):
    import yfinance as yf
    try:
        stock = yf.Ticker(symbol + '.NS')
        hist = stock.history(start=report_date)
        hist.reset_index(inplace=True)
        hist['symbol'] = symbol
        return hist[['Date', 'symbol', 'Close']].rename(columns={'Date': 'report_date', 'Close': 'price'})
    except Exception as e:
        logging.error(f"Error fetching data for {symbol}: {e}")
        return None

In [16]:
s = get_stock_prices('KRISHANA', '2023-03-01')

In [ ]:
s.head()

                report_date    symbol       price
0 2023-03-01 00:00:00+05:30  KRISHANA  275.325775
1 2023-03-02 00:00:00+05:30  KRISHANA  272.310364
2 2023-03-03 00:00:00+05:30  KRISHANA  271.438080
3 2023-03-06 00:00:00+05:30  KRISHANA  268.198395
4 2023-03-08 00:00:00+05:30  KRISHANA  264.684540

: